<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHavDA5XLPtDQjGg0HRoUnb7SsR9K-gyo</string>
	<key>GCM_SENDER_ID</key>
	<string>807803753641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waytoturf</string>
	<key>PROJECT_ID</key>
	<string>waytoturf-8af8e</string>
	<key>STORAGE_BUCKET</key>
	<string>waytoturf-8af8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807803753641:ios:55a0e1d35975c6fe74c5b8</string>
</dict>
</plist>